@use './variables' as *;
@use './mixins' as *;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $font;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

main {
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

textarea {
  font-family: $font;
  font-size: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

@include breakpoint($s) {
  main {
    padding: 2rem;
  }
}
